# Настройки подключения к материнскому серверу Marzban
MARZBAN_URL=https://marzban.example.com
MARZBAN_ADMIN_USER=admin
MARZBAN_ADMIN_PASS=secret

# ---- Логи ----
LOG_DIR=./logs
LOG_LEVEL=INFO
# Ротация по размеру (если LOG_ROTATE_WHEN пусто):
LOG_MAX_BYTES=1048576
LOG_BACKUP_COUNT=5
# Ротация по времени (опционально, если задать - размер игнорируется)
# Примеры: S,M,H,D,midnight,W0 (понедельник) и т.д.
# LOG_ROTATE_WHEN=midnight
# LOG_ROTATE_INTERVAL=1
LOG_STDOUT=1

# Интервал опроса нод (секунды)
POLL_INTERVAL=5

# Порт приложения
APP_PORT=8023

# Порт, на котором запущен локальный ip_agent (микросервис) на нодах.
# Если у ноды не указан api_port в master API, будет использован этот порт.
IP_AGENT_PORT=8001

# Настройки Telegram уведомлений
TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=ваш_токен_бота
TELEGRAM_CHAT_ID=ваш_id_чата
REDIS_URL=redis://localhost:6379/0
NODE_REMINDER_INTERVAL=10 # Интервал напоминания о недоступной ноде (минуты)

# Настройки автоматического переподключения нод
NODE_RECONNECT_THRESHOLD=5   # Попытка переподключения после N неудачных запросов
NODE_RECONNECT_COOLDOWN=30  # Минимальный интервал между попытками переподключения (сек)